<font size=8px>
<center>
	<h2>Web Development Team</h2><br><br>
<table>
<tr>
	<td>&nbsp;&nbsp;<%= image_tag "syed.jpg",class: "circle" %></td>
	<td><center>&nbsp;&nbsp;A. Syed Moinudeen<br>II CSE</center></td>
	<td>&nbsp;&nbsp;<%= image_tag "sur.jpeg",class: "circle" %></td>
	<td><center>&nbsp;&nbsp;VRL Survesh<br>II CSE</center></td>
</tr>
<tr>
	<td>&nbsp;&nbsp;<%= image_tag "vj.jpg",class: "circle" %></td>
	<td><center>&nbsp;&nbsp;R. Vijay Chandar<br>II CSE</center></td>
	<td>&nbsp;&nbsp;<%= image_tag "thaya.jpg",class: "circle" %></td>
	<td><center>&nbsp;&nbsp;K.S. Thaynanth Raj<br>II CSE</center></td>
</tr>
<tr>
	<td>&nbsp;&nbsp;<%= image_tag "var.jpg",class: "circle" %></td>
	<td><center>&nbsp;&nbsp;S. Varshini<br>II CSE</center></td>
	<td>&nbsp;&nbsp;<%= image_tag "ritu.jpg",class: "circle" %></td>
	<td><center>&nbsp;&nbsp;R. Ritu <br>II CSE</center></td>
</tr>
<tr>
	<td>&nbsp;&nbsp;<%= image_tag "sur.jpg",class: "circle" %></td>
	<td><center>&nbsp;&nbsp;A.R. Shruthi<br>II CSE</center></td>
</tr>
</table>
