<!-- Webfonts -->
<link type="text/css" rel="stylesheet" href='http://fonts.googleapis.com/css?family=Ubuntu:300italic,300,700'/>


<!--<div class="col-md-12 bg-white" >-->

	<div class="breadcrumbline"></div>

	<div class="col-md-8 bg-white">
		<div class="inner unright" >


			<div>
				<h3 style="font-family:'verdana'">About The College</h3>
				<p align="justify" style="font-family:'Verdana' 
	font-size: 15px" >                       St.Joseph’s Institute of  Technology, a St.Joseph’s group of Institutions  started  in  the  year  2011.It is a  Christian  Minority  Institution   with   five  streams  viz CSE,  EEE, ECE,   IT  &  MECH. The college has best infrastructure spread across 4 lakhs sq.ft with well equipped laboratories, workshops   and   classrooms.  A    state   of    the   art   infrastructure   including  auditorium, mess  halls, administrative  block   covering  an area of  10 lakhs sq.ft.  is upcoming.
					Our  college  as  one  of  the  leading  engineering colleges,  focuses  on  inculcating   not  only   knowledge but  also   good   ethics   to   the  budding  engineers   of  future    India.  This   proves   to be the uniqueness   of St. Joseph’s Institute of Technology.
				</p><br>
				<h3 style="font-family:'verdana'">Conference Theme</h3>

				<p class="" align="justify" >The primary goal of the conference is to promote research and developmental activities in the recent trends in engineering and technology. It also helps to unite the great minds who believe in the need, for a technologically literate society. This conference on the recent trends in engineering and technology promises enormous potential to stimulate educational opportunities to the researchers, academicians and post graduate students. It is a powerful tool for the educators to interact with their peers, share knowledge and ideas. It also offers innovative technical resources to support professional learning for educators and education leaders.</p>
				<br>
				<h3 style="font-family:'verdana'">About ISR Journals</h3>	
				<p class="" align="justify" >ISR Journals and Publications is a Privately held Company, dedicated to the Global Dissemination of Information through an unparalleled commitment to Quality, Reliability and Innovation. As of today, we are one of the leading National and International Journal Publishers and Distributors and serve more than 10 million Scientists, Research Scholars, Educational Institutions, Governmental Bodies, Corporate, Scientific and Engineering Libraries and private research firms across the globe.</p>

				<p class="" align="justify" > All the selected Papers will be published in the International Journals along with the ISSN Number.<br>
					*The Proceedings of the Conference will be published by ISR Journals - CPS Conference Publishing Services).<br>
					*On-line Indexing for Proceedings.<br>
					*Indexed in Google Scholar, Researchgate, DOAJ,...<br>

				</p>
			</div>



			<!--      			<div class="heading_border"></div>	
			-->				

			<!-- News Events text-->

			<!--                <div class="heading_border"></div>
			-->				

			<!--<div class="clearfix"/>
			</div>-->

			<!--Twitter -->
			<!-- /notifly bg-gray -->
			<!--Featured Bottom -->

			<div class="clearfix"></div>



			<!--Ads Bottom -->
			<!--<div class="ads_bottom row-fluid">
				<div class="one_half">
					<a  href="#" class="bwWrapper">
						<img src="images/custom.png" >
					</a>
				</div>
				<div class="one_half">
					<a href="#" class="bwWrapper" style="margin-left:10px; cursor:pointer;" >
						<img src="images/amazing.jpg">
					</a>
				</div>
			</div><!--/ Ads Bottom -->


		</div><!-- /inner -->
	</div><!-- /span8 bg-white -->

	<div class="col-md-4 bg-black">
		<!--Header Title-->

		<div class="clearfix"></div>

		<!-- /Customer - menu  --> 
		<ul class="ca-menu bg-gray">
			<li>
				<a href="#">

					<div class="ca-content">
						<span class="ca-main">Conference Date</span><br>
						<p style="font-size:20px; margin-left:-30px"><b>&nbsp&nbspApril 5th, 2014</b></p>
					</div>
				</a>
			</li>
			<li>
				<a href="#">

					<div class="ca-content1">
						<span class="ca-main1">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspConference Venue</span><br>
						<p style="font-size:15px" align=center><b>&nbsp&nbsp&nbspSt.Joseph's Institute of Technology,<br> Chennai</b></p>
					</div>
				</a>
			</li>
			<li>
				<a href="#">

					<div class="ca-content">
						<span class="ca-main">Conference Brochure</span><br>
						<p style="font-size:20px; margin-left:13px"><b>click here</b></p>
					</div>
				</a>
			</li>
		</ul>  <!-- /ca-menu  --> 

		<!--Header Title-->

		<br>
		<br>		<!--FeatuedBox -->
		<div> </div>
		<div>
			
				<div class="imgShow" align="center" >
					<!--<div class="ribbon-wrapper right"><div class="ribbon">From $99</div></div>-->
					<%= link_to image_tag("smiling_brunette.jpg",class: "zoom"),"http://stjosephstechnology.ac.in",class: "zoom" %>
					<!--<a href="http://isrjournals.org/" target="_blank" class="zoom">
						<img src="images/thumbnail-1.jpg" class="zoom"   alt="thumbnail" width="100%" />
					</a>-->
				</div> 

				  <!-- End Class featuedBox  -->
		</div>



		<!--<div class="socialmedia">
			<a class="social-item googleplus" href="www.google.co.in" title="find us googleplus">g</a>
			<a class="social-item facebook" href="www.facebook.com" title="find us facebook">f</a>
			<a class="social-item twitter" href="www.twitter.com" title="find us twitter">t</a>
			<a class="social-item youtube" href="www.youtube.com" title="find us youtube">y</a>					</div>-->


	</div><!-- /span4 bg-black -->


<div class="brake" style="background:white">
				​<div class="circle"></div>​​​​​​​​​​​​​​​​​​​​​​​​​
			</div><!---/brake--->
	<!-- /row  bg-main -->

<!--</div>-->
<div class="col-md-12 bg-white">
<table align="center" cellpadding="50">
	<tr>
		<td>
			<table align="center" >
				<tr>
					<td><h3 align="Center"><b>Organized  by </b></h3><br>
						<%= link_to image_tag("sjit.png",alt: "SJIT"), "http://stjosephstechnology.ac.in" %></td>
				</tr>
		</table></td>
		<td>
			<h3 align="center"><b>In Association with</b></h2>
			<br>
			<table align="center">
				<tr>
					<td><%= link_to image_tag("csi.png",size: "120x120",alt: "CSI"), "http://www.csi-india.org" %></td>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td><%= link_to image_tag("ieee.jpg",size: "120x120",alt: "IEEE"), "http://ieee.org/"%></td>
				</tr>
			</table>
			<br>
		</td>
	</tr>
</table>
<h3 align="center"><b>Archieved and Indexed by</b></h2>
<br>
<table align="center" >
	<tr>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to image_tag("rsr.png"),"http://www.researchgate.net/" %></td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><%=link_to image_tag("doaj.jpg"),"http://doaj.org" %></td>                 
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp </td>

		<td>&nbsp;&nbsp;&nbsp;&nbsp;<%=link_to image_tag("google.png"),"http://scholar.google.co.in/intl/en/scholar/about.html" %></td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp </td>
	</tr>
</table>
<br>

<br>

<table align="center" width="500px" >
	<tr>


	</tr>
</table>
<br>
<table align="center">
	<tr>

	</tr>
</table>

