
<!-- Webfonts --><style>
.oval-quotes {
  position:relative;
  width:400px;
  height:350px;
  margin:2em auto 10px;
  color:#000;
  background:#ffed26;
  /* css3 */
  /*
  NOTES:
  -webkit-border-radius:Apx Bpx; // produces oval in safari 4 and chrome 4
  -webkit-border-radius:Apx / Bpx; // produces oval in chrome 4 (again!) but not supported in safari 4
  Not correct application of the current spec, therefore, using longhand to avoid future problems with webkit corrects this
  */
  -webkit-border-top-left-radius:400px 350px;
  -webkit-border-top-right-radius:400px 350px;
  -webkit-border-bottom-right-radius:400px 350px;
  -webkit-border-bottom-left-radius:400px 350px;
  -moz-border-radius:400px / 350px;
  border-radius:400px / 350px;
}

/* creates opening quotation mark */
.oval-quotes:before {
  content:"\201C";
  position:absolute;
  z-index:1;
  top:20px;
  left:20px;
  font:80px/1 Georgia, serif;
  color:#ffed26;
}

/* creates closing quotation mark */
.oval-quotes:after {
  content:"\201D";
  position:absolute;
  z-index:1;
  bottom:0;
  right:20px;
  font:80px/0.25 Georgia, serif;
  color:#ffed26;
}

.oval-quotes p {
  width:250px;
  height:250px;
  padding:50px 0 0;
  margin:0 auto;
  text-align:center;
  font-size:20px;
}

/* creates smaller curve */
.oval-quotes p:before {
  content:"";
  position:absolute;
  z-index:-1;
  bottom:-30px;
  right:55%;
  width:180px; /* wider than necessary to make it look a bit better in IE8 */
  height:60px;
  background:#fff; /* need this for webkit - bug in handling of border-radius */
  /* css3 */
  -webkit-border-bottom-right-radius:40px 50px;
  -moz-border-radius-bottomright:40px 50px;
  border-bottom-right-radius:40px 50px;
  /* using translate to avoid undesired appearance in CSS2.1-capabable but CSS3-incapable browsers */
  -webkit-transform:translate(-30px, -2px);
  -moz-transform:translate(-30px, -2px);
  -ms-transform:translate(-30px, -2px);
  -o-transform:translate(-30px, -2px);
  transform:translate(-30px, -2px);
}

/* creates larger curve */
.oval-quotes p:after {
  content:"";
  position:absolute;
  z-index:-2;
  bottom:-30px;
  right:25%;
  height:80px;
  border-right:200px solid #ffed26;
  background:#ffed26; /* need this for webkit - bug in handling of border-radius */
  /* css3 */
  -webkit-border-bottom-right-radius:200px 100px;
  -moz-border-radius-bottomright:200px 100px;
  border-bottom-right-radius:200px 100px;
  /* using translate to avoid undesired appearance in CSS2.1-capabable but CSS3-incapable browsers */
  -webkit-transform:translate(0, -2px);
  -moz-transform:translate(0, -2px);
  -ms-transform:translate(0, -2px);
  -o-transform:translate(0, -2px);
  transform:translate(0, -2px);
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

.oval-quotes + p {
  position:relative; /* part of the IE8 width compromise */
  width:150px;
  margin:0 0 2em;
  font-size:18px;
  font-weight:bold;
}

</style>


<link type="text/css" rel="stylesheet" href='http://fonts.googleapis.com/css?family=Ubuntu:300italic,300,700'/>
<!-- Carousel
		================================================== -->

		<div id="myCarousel" class="carousel slide" data-ride="carousel" >
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<%= image_tag "slider/1.jpg" %>
					<div class="container">
						
					</div>
				</div>
				<div class="item">
					<%= image_tag "slider/2.jpg" %>
          
					<div class="container">
					
					</div>
				</div>
				<div class="item">
					<%= image_tag "slider/14.jpg" %>
					<div class="container">
						
					</div>
				</div>
					<div class="container">
						
					</div> 
				</div>
			</div>
		
	<div class="breadcrumbline"></div>

	<div class="col-md-8 bg-white">
		<div class="inner unright" >


			<div>
				<h3 style="font-family:'verdana'">About The College</h3>
				<p align="justify" style="font-family:'Verdana' 
	font-size: 15px" >                       St.Joseph’s Institute of  Technology, a St.Joseph’s group of Institutions  started  in  the  year  2011.It is a  Christian  Minority  Institution   with   five  streams  viz CSE,  EEE, ECE,   IT  &  MECH. The college has best infrastructure spread across 4 lakhs sq.ft with well equipped laboratories, workshops   and   classrooms.  A    state   of    the   art   infrastructure   including  auditorium, mess  halls, administrative  block   covering  an area of  10 lakhs sq.ft.  is upcoming.
					Our  college  as  one  of  the  leading  engineering colleges,  focuses  on  inculcating   not  only   knowledge but  also   good   ethics   to   the  budding  engineers   of  future    India.  This   proves   to be the uniqueness   of St. Joseph’s Institute of Technology.
				</p><br>
				<h3 style="font-family:'verdana'">Conference Theme</h3>

				<p class="" align="justify" >The primary goal of the conference is to promote research and developmental activities in the recent trends in engineering and technology. It also helps to unite the great minds who believe in the need, for a technologically literate society. This conference on the recent trends in engineering and technology promises enormous potential to stimulate educational opportunities to the researchers, academicians and post graduate students. It is a powerful tool for the educators to interact with their peers, share knowledge and ideas. It also offers innovative technical resources to support professional learning for educators and education leaders.</p>
				<br>
				<h3 style="font-family:'verdana'">About IJAER Journals</h3>	
				<p class="" align="justify" >International Journal of Advances in Engineering Research (IJAER) is an international platform for scientists and engineers in all aspects of engineering and technology publishing high quality and refereed papers. Papers of original research and innovatory applications from all parts of the world are welcome. The papers for publication in IJAER are selected through rigorous peer reviews to ensure originality, timeliness, relevance, and readability. While it emphasizes publication of previously unpublished materials, selected research papers with exception merit that require wider exposure are, at the discretion of the editors, also published provided they meet the journal's peer review standard. IJAER also seeks clearly written survey and review articles from experts in the field to promote insightful understanding of the state-of-the-art and the technology trends.</p>

				<p class="" align="justify" >  Our all journals are abstracted and indexed in International Societies like EBSCO Database,  SCOPUS, EI,  Cambridge Science Abstract, Chemical Abstract Society, Elsevier Bibliographic Databases, EMBiology, INSPEC, ACM Computing Reviews, ACM Guide to Computing Literature, DBLP, Mathematical Reviews, MathSciNet, Zentralblatt MATH, Journal Seek, Thomson Gale, Google Scholar and more...

				</p>
			</div>

</div></div>
<div id="container" style="float:right;padding-right:30px;padding-top:30px">
                <header></header>
                <div class="content">
                 
                    
                    <blockquote class="oval-quotes">
                        
                       <br>
 
 <p>Conference Date: <br><a href="#">5th April 2014</a><br><br>
 
 Conference Venue:<br><a href="#">St.Joseph's Institute of Technology</a><br><br>

 Conference Brochure:<br><a href="#">Click Here</a></p>
                        
                    </blockquote>
                </div>
                <p></p>
            </div>
		
<div class="col-md-12 bg-white">
<table align="center" cellpadding="50">
	<tr>
		<td>
			<table align="center" >
				<tr>
					<td><h3 align="Center"><b>Organized  by </b></h3><br>
						<%= link_to image_tag("sjit.png",alt: "SJIT"), "http://stjosephstechnology.ac.in" %></td>
				</tr>
		</table></td>
		<td>
			<h3 align="center"><b>In Association with</b></h2>
			<br>
			<table align="center">
				<tr>
					<td><%= link_to image_tag("csi.png",size: "120x120",alt: "CSI"), "http://www.csi-india.org" %></td>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td><%= link_to image_tag("ieee.jpg",size: "120x120",alt: "IEEE"), "http://ieee.org/"%></td>
				</tr>
			</table>
			<br>
		</td>
	</tr>
</table>
<h3 align="center"><b>Archieved and Indexed by</b></h2>
<br>
<table align="center" >
	<tr>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to image_tag("rsr.png"),"http://www.researchgate.net/" %></td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><%=link_to image_tag("doaj.jpg"),"http://doaj.org" %></td>                 
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp </td>

		<td>&nbsp;&nbsp;&nbsp;&nbsp;<%=link_to image_tag("google.png"),"http://scholar.google.co.in/intl/en/scholar/about.html" %></td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp </td>
	</tr>
</table>
<br>

<br>

<table align="center" width="500px" >
	<tr>


	</tr>
</table>
<br>
<table align="center">
	<tr>

	</tr>
</table>
