<!-- Webfonts -->
<link type="text/css" rel="stylesheet" href='http://fonts.googleapis.com/css?family=Ubuntu:300italic,300,700'  >

<!--<style>	
	/* Tables */
/*th{border-bottom: 1px solid #f1f1f1;}
table {border: 1px solid #f1f1f1;border-bottom:0; background:#FFCC66; font-family:Arial, Helvetica, sans-serif; font-size:12px}
tr td {border-bottom: 1px solid #f1f1f1;}
tr.odd td {background: #F2F7FC;}*/
table {
	border-collapse:separate;
	border-spacing:0;

}
table thead tr {
	border-top:none;
	color:#c9c9c9;
}
table thead tr:hover {
	border-top:none;
	color:#c9c9c9;
	background:none
}
table thead td {
	border-top:none;
	color:#c9c9c9;
	background:#262424;
}
.ambitios_first_td {
	border-top:none;
	color:#c9c9c9;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border--bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border--top-left-radius: 5px;
	border-top-left-radius: 5px;
	border: 1px solid #373737;
}
.ambitios_last_td {
	border-top:none;
	color:#c9c9c9;
	-moz-border-radius-bottomright: 5px;
	-webkit-border--bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	border: 1px solid #373737;
}
table td {
	background-color:#5F6363;
	border-top:none;
	color:#FBF9F9;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border--bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border--top-left-radius: 5px;
	border-top-left-radius: 5px;
	border: 1px solid #CCC;
	-moz-border-radius-bottomright: 5px;
	-webkit-border--bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	padding:12px 0 12px 20px;
	border-top:1px solid #d4d4d4
}
.ambitios_border_none td {
	border-top:none	
}
table tr:hover {
	background:#e6e6e6;
}
</style> */   
<div class="col-md-12 bg-white" > -->

	<!-- breadcrumbline-->
	<div class="breadcrumbline"></div>

	<div class="col-md-8 bg-white">
		<div class="inner unright">


			<!-- Exclusive  text-->
			<h2><span>IMPORTANT DATES</span></h2>
			<div class="heading_border"></div>
			<br>
			<div class="ambitios_container_16">

				<div class="ambitios_wrapper">
					<div style="text-align:center;">  
						<table align="left" width="550px" height="400px" style="margin-left:5px;font-size:14px"  border="0" cellspacing="0" cellpadding="0">
							<thead>
								<tr>
									<td class="ambitios_first_td">Event</td>
									<td class="ambitios_last_td">Date</td>
								</tr>
							</thead>
							<tr class="ambitios_border_none">
								<td><b>Submission of full paper</b></td>
								<td><b>10-March-2014</b></td>
							</tr>
							<tr>
								<td><b>Notification of acceptance</b></td>
								<td><b>17-March-2014</b></td>
							</tr>
							<tr>
								<td><b>Registration</b></td>
								<td><b>21-March-2014</b></td>

							</tr>
							<tr>
								<td><b>Conference Date</b></td>
								<td><b>5-April-2014</b></td>

							</tr>
							<br>

						</table><br />
					</div>
				</div>


			</div>




		</div>
		<!-- /inner -->
	</div><!-- /span8 bg-white -->

	<div class="col-md-4 bg-white" >
		<div class="inner untop unleft" >	
			<br>
			<!-- Our service Text-->
			<!--<h4><strong>SAMPLE PAPER FORMAT</strong></h4>
			<br>
			<a href="ISRJ_Paper_Template.docx" >
				<img src="images/download_icon.jpg"  style=" margin-left:30px"/></a>
			<br>-->
			<br>
			<br>
			<h4><strong><center>IN ASSOCIATION WITH</center></strong></h4>
			<br>
			<br>
			<center>
			<%= link_to image_tag("csi.png"), "http://csi-india.org/" %>
            </center>
			<br>
			<br>
			<center>
			<%= link_to image_tag("isrlogo.png"), "http://isrjournals.org/" %>
            </center>
			<br>
			<br><br>
			<h4><strong><center>INDEXING WITH</center></strong></h4>
			<br>
			<br><br>
			<center>
			<%= link_to image_tag("reachgate.png", size:"149x43"), "http://researchgate.net/" %>
            </center>
			<br>
			<br><br>
		    <center>
			<%= link_to image_tag("google.png"), "http://scholar.google.co.in/intl/en/scholar/about.html" %>
            </center>
			<br><br>
			<center>
			<%= link_to image_tag("doaj.jpg"), "http://doaj.org" %>
            </center>
			<br>   <br>   <br>   <br>

			<a href="http://isrjournals.org/" target="_blank">&nbsp;
				<br /><br />
				&nbsp;
				<br /><br />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br /><br /><br /><br /><br /><br /><br />
			</a>
			&nbsp;
			<br /><br />



		</div>

		<!-- /tabbable -->
		<!--<div class="socialmedia">
			<div class="inner untop">
				<h3>Social item</h3><br>
				<a class="social-item facebook" href="#" title="find us facebook">f</a>
				<a class="social-item twitter" href="#" title="find us twitter">t</a>
				<a class="social-item googleplus" href="#" title="find us googleplus">g</a>
				<a class="social-item youtube" href="#" title="find us youtube">y</a>			</div>
		</div>
		-->					<div class="clearfix"></div>

	</div><!-- /span4 bg-black -->


</div><!-- /row  bg-main -->

<div class="columnBottom ">
</div><!-- End Class groupBottom  -->

	</section><!-- /topspace blackshadow bg-white -->
	<!-- /container -->

