<small> Details of DD in favour of "St.Joseph's Institute of Technology",payable at chennai </small>
<%= form_for(@payment_detail) do |f| %>
  <% if @payment_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment_detail.errors.count, "error") %> prohibited this payment_detail from being saved:</h2>

      <ul>
      <% @payment_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <b>
  <% if current_user.designation == "PG Student"  %>
    Amount Payable = Rs. 600 <br>
  <% elsif current_user.designation == "Faculty Member" %>
    Amount Payable = Rs. 800 <br>
  <% elsif current_user.designation == "Delegates" %>
    Amount Payable = Rs. 1000<br>
  <% end %>
  </b><br>
  <div class="field">
    <%= f.label :dd_number,"DD Number" %><br>
    <%= f.text_field :dd_number %>
  </div>
  <div class="field">
    <%= f.label :bank,"Bank Name" %><br>
    <%= f.text_field :bank %>
  </div>
  <div class="field">
    <%= f.label :branch %><br>
    <%= f.text_field :branch %>
  </div>
  <div class="field">
    <%= f.label :dd_copy,"DD Number" %> <font style="color:red">*</font><br>
    <%= f.file_field :dd_copy %>
  </div>
  <div class="actions">
    <%= f.submit "Submit"%>
  </div>
  <font style="color:red">*</font>  scan copy should be less than 1mb
<% end %>
