<%= form_for(@registration) do |f| %>
  <% if @registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registration.errors.count, "error") %> prohibited this registration from being saved:</h2>

      <ul>
      <% @registration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %>&nbsp;&nbsp;&nbsp;<br>
    <%= f.text_field :first_name,:size=> 30 %>
  </div>
  <div>  
    <%= f.label :last_name %>&nbsp;&nbsp;&nbsp;<br>
    <%= f.text_field :last_name,:size=> 30  %>
  <!-- </div>
  <div class="field"> -->
  </div>
  <div class="field">
    <%= f.label :college_name %>&nbsp;&nbsp;&nbsp;<br>
    <%= f.text_field :college_name,:size=> 30%>
  </div>
  <div class="field">
    <%= f.label :department %>&nbsp;&nbsp;&nbsp;<br>
    <%= f.select :department, options_for_select(Registration.departments.map{|x| [x[0], x[0]]}),:size=> 30  %>
  </div>
  <div class="field">
    <%= f.label :email %>&nbsp;&nbsp;&nbsp;<br>
    <%= f.text_field :email,:size=> 30  %>
  </div>
  <div class="field">
    <%= f.label :mobile_number %>&nbsp;&nbsp;&nbsp;<br>
    <%= f.text_field :mobile_number,:size=> 30  %>
  </div>
  <div class="field">
    <%= f.label :type_of_conference %>&nbsp;&nbsp;&nbsp;<br>
    <%= f.select :type_of_conference, options_for_select(Registration.type_of_conferences.map{|x| [x[0], x[0]]}),:size=> 30  %>
  </div>
  <div class="field">
    <%= f.label :paper_title %>&nbsp;&nbsp;&nbsp;<br>
    <%= f.text_field :paper_title,:size=> 30  %>
  </div>
  <div class="field">
    <%= f.label :abstract %>&nbsp;&nbsp;&nbsp;<br>
    <%= f.text_area :abstract ,:size=> "28" %>
  </div>
  <div class="field">
    <%= f.label :file_upload %>&nbsp;&nbsp;&nbsp;<br>
    <%= f.file_field :file_upload,:size=> 30  %>
  </div>
  <div class="actions">
    <%= f.submit :Submit %>
  </div>
<% end %>
