<% if current_user.email != "admin@ncrtet2015.com" %>
<p id="notice"><%= notice %></p>
<h1>Uploaded Papers</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Paper Number</th>
        <th>Type of conference</th>
        <th>Paper title</th>
        <th>Full Paper</th>
        <th>Edited Paper</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @papers.each do |paper| %>
      <% if current_user.id == paper.user_id %>
        <tr>
          <td><%= paper.paper_number %></td>
          <td><%= paper.type_of_conference %></td>
          <td><%= paper.paper_title %></td> 
          <td><%= link_to "#{paper.paper_version1_file_name}", paper.paper_version1.url(download: true) %></td>
          <td>
            <% if paper.paper_version2_file_size != nil %>
              <%= link_to "#{paper.paper_version2_file_name}", paper.paper_version2.url(download: true) %>
            <% else %>
               NA
            <% end %>
          </td>         
        </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
  <br>
  Sorry! The Last Date to Upload your paper is over!
<% else %>
  <h1>Uploaded Papers</h1>
  <%= link_to "Export",papers_path(format: "xlsx") %>
  <%= form_tag("/papers", method: "get", by_type_of_conference: 1) do %>
  <%= label_tag(:q, "Type of Conference") %>
  <%= select_tag "by_type_of_conference", "<option value=0>CSE & IT</option><option value=1>ECE</option><option value=2>EEE</option><option value=3>MECH & CIVIL</option>".html_safe %>
  <%= submit_tag("FILTER") %>
<% end %>
  
  <%# link_to "Ruby on Rails search", controller: "papers", by_type_of_conference: 1 %>
    
  <table class="table">
    <thead>
      <tr>
        <th>Paper Number</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>E-mail Id</th>
        <th>College Name</th>
        <th>Mobile Number</th>
        <th>Designation</th>
        <th>Type of conference</th>
        <th>Paper title</th>
        <th>Full Paper</th>
        <th>Edited Paper</th>
      </tr>
    </thead>
    <tbody>
        <% @papers.each do |paper| %>
        <tr>
          <td><%= paper.paper_number %></td>
          <td><%= paper.user.first_name %></td>
          <td><%= paper.user.last_name %></td>
          <td><%= paper.user.email %></td>
          <td><%= paper.user.college_name %></td>
          <td><%= paper.user.mobile_number %></td>
          <td><%= paper.user.designation %></td>
          <td><%= paper.type_of_conference %></td>
          <td><%= paper.paper_title %></td> 
          <td><%= link_to "#{paper.paper_version1_file_name}" ,paper.paper_version1.url(download: true) %></td>
          <td>
            <% if paper.paper_version2_file_size != nil %>
              <%= link_to "#{paper.paper_version2_file_name}", paper.paper_version2.url(download: true) %>
            <% else %>
               NA
            <% end %>
          </td>
          <% end %>
     </tr>
     </tbody>
     </table> 
     <center><%= paginate @papers %></center>
<% end %>