<p id="notice"><%= notice %></p>
<% if current_user.email != "admin@sjit.com" %>
<h1>Uploaded Papers</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Paper Number</th>
        <th>Type of conference</th>
        <th>Paper title</th>
        <th>Full Paper</th>
        <th>Edited Paper</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @papers.each do |paper| %>
      <% if current_user.id == paper.user_id %>
        <tr>
          <td><%= paper.paper_number %></td>
          <td><%= paper.type_of_conference %></td>
          <td><%= paper.paper_title %></td> 
          <td><%= link_to "Full Paper", paper.paper_version1.url(download: true) %></td>
          <td>
            <% if paper.paper_version2_file_size != nil %>
              <%= link_to "Edited Paper", paper.paper_version2.url(download: true) %>
            <% else %>
               NA
            <% end %>
          </td>
          <td>
            <% if paper.paper_version2_file_size == nil %>
              <%= link_to 'Add Edited Paper', edit_paper_path(paper) %>
            <% else %>
              <%= link_to 'Modify Edited Paper', edit_paper_path(paper) %>
            <% end %>
          <% end %>
          </td>          
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <%= link_to 'Upload Paper', new_paper_path, id: "col" %>
<%else%>
  <%= link_to "Download paper details",papers_path(format: "xlsx") %>
<% end %>