<p id="notice"><%= notice %></p>

<h1>Listing Papers</h1>

<table class="table">
  <thead>
    <tr>
      <th>Type of conference</th>
      <th>Paper title</th>
      <th>Paper Version 1</th>
      <th>Paper Version 2</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @papers.each do |paper| %>
      <tr>
        <td><%= paper.type_of_conference %></td>
        <td><%= paper.paper_title %></td>
        <td><%= link_to "Paper v1", paper.paper_version1.url(download: true) %></td>
        <td>
          <% if paper.paper_version2_file_size != nil %>
            <%= link_to "Paper v2", paper.paper_version2.url(download: true) %>
          <% else %>
             NA
          <% end %>
        </td>
        <td>
          <% if paper.paper_version2_file_size == nil %>
            <%= link_to 'Add Paper V2', edit_paper_path(paper) %>
          <% else %>
            <%= link_to 'Modify Paper V2', edit_paper_path(paper) %>
          <% end %>
        </td>          
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Paper', new_paper_path %>
